table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
  }
  
  th {
    font-weight: 500;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
  }
  
  td {
    border-bottom: 1px solid #dee2e6;
  }

  .botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  .comprar-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1em; /* Añade un margen entre los botones */
  }
  
  .borrar-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .espaciado{
    margin: 0.5em;
  }
  @media only screen and (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
  
    .table td,
    .table th {
      white-space: nowrap;
    }
  }

  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }

  .botonRojo{
    background-color: red;
  }

  .botonAmarillo{
    background-color: rgb(34, 22, 197);
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
  }
  
  @media (max-width: 600px) {
    td, th {
      display: block;
      border: none;
      text-align: left;
    }
  
    td {
      border-bottom: 1px solid #dddddd;
      position: relative;
      text-align: center;
    }
  
    td::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    p-datatable.beatDatatable .ui-datatable .ui-datatable-thead .ui-state-default {
      color: #000 !important;
      line-height: 2 !important;
      text-align: center !important;
  }

  .some-custom-class-name::ng-deep th {
    background-color: blue !important;
}

.espaciado{
  margin-bottom: 2em;

}

  }
  
  