<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"  [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bookshop Villarreal</a>
          <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1675940571/Logo_Librer%C3%ADa_Lineal_Azul_Rosa__1_-removebg-preview_vo8d1z.png" width="100px" height="100px" class="d-block img-fluid" alt="logo Bookshop">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item espacioHome">
                <a class="nav-link " aria-current="page" href="#" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
              </li>
              <li class="nav-item dropdown espacioHome">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['/category/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      Categories
                </a>
                    <!-- Primer desplegable -->
                <ul class="dropdown-menu espacioHome" *ngIf="isAdmin">
                  <li><a class="dropdown-item" href="#"  [routerLink]="['/category/addCategory']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Category</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown espacioHome">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['/books/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      Books
                </a>
                <!-- Segundo desplegable -->
                <ul class="dropdown-menu espacioHome" *ngIf="isAdmin">
                  <li><a class="dropdown-item" href="#" [routerLink]="['/books/addBook']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Book</a></li>
                 
                </ul>
              </li>

              <li class="nav-item espacioHome" *ngIf="isAdmin">
                <a class="nav-link " aria-current="page" href="#" [routerLink]="['/user/list']"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
              </li>


              <!-- sacar a un componente aparte, hacer el enrutado y dejar un apartado en mi pagina donde se pueda tener una conversacion con un chat de inteligencia artificial. -->
              <li class="nav-item dropdown espacioHome">
                <a class="nav-link " aria-current="page" href="#" [routerLink]="['/chat/gpt']"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Live Chat</a>
            </li>
              <!-- aqui termina dicha seccion de codigo. -->
              <li class="nav-item dropdown espacioHome">
                <a class="nav-link " aria-current="page" href="#" [routerLink]="['/bookshop/list']"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bookshop</a>
            </li>
              
            </ul>
            <div class="cart-badge" *ngIf="logueado">
            <button type="button" class="btn btn-outline-dark " [routerLink]="['/shopping/list']">
              <i class="fas fa-shopping-cart fa-lg" #iconoCarrito></i>
              <span class="badge badge-pill badge-primary text-dark">{{ carrito.length }}</span>
            </button>
          </div>

            <!-- <a href="#" [routerLink]="['/shopping/list']" class="cart-icon " >
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill text-dark " viewBox="0 0 16 16" >
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a> -->

           
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item dropdown dropdown-menu-right">
                <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="logueado" >
                  <img src="{{user.img}}"  default class="d-block img-fluid logoUser imgRedonda"  alt="logoUser" width="50px" height="100px" >
                </a>
                
                  <button  *ngIf="!logueado" class=" btn btn-primary" [routerLink]="['/login']"> Log in</button>
                
                <!-- <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!logueado">
                  <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1675942692/24-248253_user-profile-default-image-png-clipart-png-download-removebg-preview_trleza.png" default class="d-block img-fluid logoUser imgRedonda"  alt="logoUser" width="50px" height="100px" >
                </a> -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li *ngIf="!logueado"><a class=" dropdown-item" href="#" [routerLink]="['/login/']" >Login  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg></a></li>
                  <li><a class=" dropdown-item"  (click)="logOut()" [routerLink]="['/']" >Logout  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                  </svg></a></li>
                  
                  <li><a class=" dropdown-item" href="#" [routerLink]="['/user/updateUser/',userDetails]" >Update profile   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></a></li>
                  
                  <li *ngIf="Buys.length"><a class=" dropdown-item" href="#" [routerLink]="['/shopping/listBuy',]" >Your Buys  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                  </svg></a></li>

                  <li><a class=" dropdown-item" href="#" [routerLink]="['/user/updateUserPhoto/',userDetails]" >Update your Profile pic  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg></a></li>

                </ul>
              </li>
            </ul>
            
            </div>
          </div>
       
      </nav>

      





  
  