<app-navbar></app-navbar>

<br>
<br>
<h2 align="center">Your Favorites</h2>


<div class="centered-button">
<button  button type="button" class="btn btn-danger espaciado" href="#" [routerLink]="['/books/list']" routerLinkActive="active" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg> &nbsp;Back</button>
</div>
<br>
<br>

<span style="display: block; text-align: center;"><i>These are your favorite books from Librería Villarreal:

</i></span>
<br>
<br>

<div class="row justify-content-center">
  <div class="card cartas" style="width: 18rem;" *ngFor="let item of Favorites">
    <img src="{{item.book.img}}" alt="Imagen" class="card-img-top" alt="imagen_Card">
      <div class="card-body">
        <h5 class="card-title">Title:</h5>
        <p class="card-title">{{item.book.title}}</p>
        <h5 class="card-text">Category:</h5>
        <p class="card-text">{{item.book.category.name}}</p>
        <h5 class="card-text">Author:</h5>
        <p class="card-text">{{item.book.author}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <br>
      </div>
    </div> 
</div>
  
<!-- <div class="row justify-content-center">
  <div class="col-12 col-sm-6 col-md-4" *ngFor="let item of Favorites">
    <div class="card mb-3">
      <img src="{{item.book.img}}" alt="Imagen" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h5 class="card-title">Title:</h5>
        <p class="card-text">{{item.book.title}}</p>
        <h5 class="card-text">Category:</h5>
        <p class="card-text">{{item.book.category.name}}</p>
        <h5 class="card-text">Author:</h5>
        <p class="card-text">{{item.book.author}}</p>
      </div>
    </div>
  </div>
</div> -->


<br>


<app-footer></app-footer>
