.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .card {
    width: 12rem;
    margin: 10px;
  }
  
  @media (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  